/* Kumbh */
// Regular
@font-face {
  font-family: "Kumbh Sans";
  src: url(../fonts/KumbhSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Medium
@font-face {
  font-family: "Kumbh Sans";
  src: url(../fonts/KumbhSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* inter */
// Regular
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Medium
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// SemiBold
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Bold
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
